@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Gothic A1', sans-serif;
}

img {
  margin: 0;
  padding: 0;
  line-height: 0;
  vertical-align: top;
}
.logo-img img {
  text-align: center;
  width: auto;
  height: 95px;
  margin: 10px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.menu-list {
  width: 80%;
}
.menu {
  display: flex;
  justify-content: center;
}
.menu li {
  list-style: none;
  padding: 15px;
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}
.menu-content p {
  text-align: center;
  padding: 15px;
  margin: 12px;
}
.menu-inner div {
  text-align: center;
}
.list-wrapper {
  display: flex;
  justify-content: space-between;
}
.util {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.util i {
  width: 100px;
  height: 50px;
  color: black;
  font-size: 35px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  border-radius: 54px;
  padding: 3px;
}

.util a {
  width: 100px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  border: 1px solid;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  border-radius: 54px;
  padding: 3px;
}

.map-click {
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
}
.store-txt {
  color: #fff;
  padding: 15px;
  margin: 8px;
}
.store-txt p {
  font-size: 28px;
  font-weight: 600;
  text-align: left;
}

.store-txt ul {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.store-txt ul li {
  padding: 15px;
  margin: 8px;
  list-style: none;
}

footer {
  /* margin-top: 50px; */
  width: 100%;
  /* height: 100px; */
  position: absolute;
  color: white;
  background-color: #bbb;
}

footer a {
  text-decoration: none;
  color: white;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-wrapper nav {
  font-weight: 600;
  padding: 15px;
}
.inner {
  position: relative;
}
.store-txt {
  position: absolute;
  top: 150px;
}
.map_table__inner {
  display: flex;
  margin: 15px;
}
.map_table__inner table tr td {
  padding: 35px;
}
.tb-service {
  text-align: left;
  column-count: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.map_table__inner thead th {
  /* border-bottom: 1px solid black; */
}
td {
  text-align: center;
}

.tb-service span {
  display: flex;
  font-size: 18px;
}
.tb-service img {
  width: 50px;
  height: 40px;
  /* 이미지 렌더링 */
  image-rendering: -webkit-optimize-contrast !important;
}
.map_table__inner table {
  width: 100%;
  height: 100%;
}

.map-wrapper ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 150px;
}

.map-inner {
  border-right: 1px solid black;
}
.txt-search {
  padding: 18px;
  width: 1200px;
  border-radius: 25px;
  border: 1px solid #bbb;
}
.map-search {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.map-label-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.map-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 12px;
}
.map-click {
  padding: 8px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  padding: 8px 12px;
}
.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar__menu a {
  color: black;
  text-decoration: none;
}

.navbar__menu li {
  padding: 8px 12px;
}
/* .navbar__menu li:hover{
  background-color: red;
  border-radius: 10px;
} */

.navbar__icons {
  padding-left: 0px;
  list-style: none;
  color: black;
  display: flex;
  /* border-radius: 10px; */
}
.navbar__icons i {
  padding: 8px 12px;
  font-size: 32px;
}
.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 15px;
  font-size: 24px;
  color: black;
}

/* .navbar__toggleBtn {
  background-color: white;
  position: absolute;
  font-size: 18px;
  right: 15px;
  display: none;
  color: black;
} */
@media screen and (max-width: 1300px) {
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 960px) {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
  }
  /* .navbar__toggleBtn {
    display: block;
    font-size: 52px;
    margin: 20px;
  } */
}
@media screen and (max-width: 820px) {
}
@media screen and (max-width: 768px) {
  * {
    scroll-behavior: auto;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 8px 24px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 15px 15px;
    text-align: center;
  }
  .navbar__toggleBtn {
    display: block;
    font-size: 42px;
    padding: 15px;
  }
  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
  .inner img {
    width: 850px;
    background-position: center;
  }
  .store-txt {
    display: none;
  }
  .map-wrapper {
    width: 750px;
  }
  .map-wrapper ul li {
    width: auto;
    text-align: center;
  }
  .map-label-wrapper,
  .map-label {
    width: auto;
    text-align: center;
  }
  .map-click {
    width: 115px;
  }
  .map__wrapper__content {
    width: auto;
  }

  .map-label div {
    width: auto;
  }
  .txt-search {
    width: 1050px;
    padding: 14px;
  }
  .map-click {
    width: 150px;
    margin: 25px;
    text-align: center;
    padding: 18px;
    font-size: 12px;
  }
  .map_table__inner thead tbody {
    font-size: 12px;
  }
  .map_table__inner tbody {
    font-size: 12px;
    padding: 60px;
    text-align: center;
  }
  .tb-service span {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 10px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }
  dl , dd , td {
    width: 100px;
    font-size: 10px;
    text-align: center;
  }
  /* .cell-num{
    font-size: 3px;
    padding: 75px;
  } */
  footer{
    width: 745px;
  }

 
}
@media screen and (max-width: 480px) {
}
